
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<ul>
 <li>Id:@Model.id</li>
 <li>name:@Model.name</li>
 <li>Genre:@Model.genre.GenreName</li>
 <li>Released On:@Model.releaseDate</li>
 <li>Added On:@Model.dateAdded</li>
 <li>No in Stock:@Model.StockNo</li>
</ul>


